%h1
  Welcome to the Library App

%p
  This site contains all necessary information about books the library possess. You can order books, you can check the state of the particular book. Enjoy!

%p
  = link_to "Sign up now!", '#'

%p
  = image_tag("library.jpg", alt: "Library")