-provide(:title, "All Books")

-if notice
  %div.notice
    = notice

%h2
  All Books

= will_paginate @books

=render partial: 'shared/show_all_books', locals: { books: @books }

= will_paginate @books