$primary-color: black
$primary-background-color: red

html, body
    margin: 0px
    paddin: 0px
    border: 0px

body
    color: $primary-color
    background-color: $primary-background-color
    fond-family: Tahoma
