%table
  -#%tr(class="#{cycle('odd_line', 'even_line')}")
  %tr
    %td
      = link_to librarian.name, librarian
    %td
      = librarian.birth_date
    %td
      = link_to 'Delete', librarian, method: :delete