- provide(:title, "Edit Librarian")

-if flash[:error]
  %div.error
    = flash[:error]

%div.lib_form
  %fieldset
    %legend
      Change librarian's information
    = render partial: 'form', locals: { submit_lbl: "Update librarian's data" }
