%aside
    =link_to 'All Readers', readers_path
    %br
    =link_to 'All Books', books_path
    %br
    =link_to 'Register a new reader', new_reader_path
    %br
    =link_to 'Add book to library', new_book_path
    %br
    =link_to 'Free books', books_free_path
    %br
    =link_to 'Debtors', readers_debtors_path
